*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  --black: #101720;
  --winning-blocks: #2d414b;
}

body {
    color: var(--black);
    font-family: 'Finger Paint', cursive;
}

h1{
    font-size: 55px;
    text-transform: uppercase;
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #acc1ca;
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 120px;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-top: 5px solid;
    border-left: 5px solid;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--black);
    color: #ffffff;
    border-color: var(--black);
    font-size: 18px;
    transition: 200ms tranform;
    font-weight: 600;
    
}
button:hover{
    cursor:pointer;
    transform: translateY(-2px);
}